<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form #f = "ngForm" class="example-form" (ngSubmit)="onSubmit(f)">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input name="uname" matInput placeholder="Username" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input name = "Fname" matInput placeholder="Fname">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input name = "Lname" matInput placeholder="Lname">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input name = "Pword" matInput placeholder="Password">
        </mat-form-field>



      </mat-card-content>

      <button  mat-stroked-button color="accent" type="submit" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>
