body{
  background-color: aquamarine;
}

.links{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  background-color: burlywood;
  padding: 5px;


}
.napit {

  width: 330px;
  background-color: lavender;

  height: 70px;
}
.kys{
  margin-bottom: 20px;
  width: 330px;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid black;

}


.otsikot {
  font-size: 14px;
  width: 330px;
}
.inf{
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid black;
  width: 330px;
}

.pist{
  margin: 0px;

  background-color: rgba(255,255,255,0.7);
  border: 1px solid black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
